:root {
    --background: #1a1a2e;
    --color: #ffffff;
    --primary-color: #0f3460;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito', sans-serif;
    /* font-family: "poppins"; */
    /* background: var(--background); */
    color: var(--color);
    letter-spacing: 1px;
    transition: background 0.2s ease;
    -webkit-transition: background 0.2s ease;
    -moz-transition: background 0.2s ease;
    -ms-transition: background 0.2s ease;
    -o-transition: background 0.2s ease;
    background-color: #0083C9; /* For browsers that do not support gradients */
    background-image: conic-gradient(#0083C9 0deg, #0083C9 90deg, #0083C9 90deg, #0083C9 180deg, #DEF2FD 180deg, #DEF2FD 270deg, #DEF2FD 270deg);
}
form{
    margin-top: 50px;
}

a {
        /* text-decoration: none; */
        color: #000;
        font-weight: bold;
        text-align: center;
        font-size: 1.2rem;
}

h1 {
    font-size: 2.3rem;
    letter-spacing: 3.9px;
    margin: 0px;
    padding: 0px;

}
p {
    border-top: 15px dotted black;
    letter-spacing: 2.9px;
    text-align: center;
    width: 70%;
    margin: 0px;
    padding: 0px;
    display: inline-block;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh;
}

.login-container {
    position: relative;
    width: 25.2rem;
}
.form-container {
    /* border: 2px solid #FFD700; */
    box-shadow: -15px 15px 15px 0px #0083C9;
    border-radius: 10px;
    /* backdrop-filter: blur(20px); */
    background-color: #92D6FB;
    z-index: 99;
    padding: 2rem;
    -webkit-border-radius: 20px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.login-container form input {
    display: block;
    padding: 11.5px;
    width: 100%;
    margin: 2rem 0;
    color: #000;
    outline: none;
    background-color: #fff;
    border: none;
    border-radius: 50px;
    font-weight: 400;
    letter-spacing: 1.9px;
    font-size: 15px;
    backdrop-filter: blur(15px);
    -webkit-border-radius: 50px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    text-align: center;
    box-shadow: -4px 4px 10px 1px #0083C9;
}

.login-container form input:focus {
    box-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.2);
    animation: wobble 0.3s ease-in;
    -webkit-animation: wobble 0.3s ease-in;
}

.login-container form button {
    background-color: #0083C9;
    color: var(--color);
    /* display: block; */
    padding: 11px;
    border-radius: 50px;
    outline: none;
    font-size: 18px;
    letter-spacing: 1.5px;
    font-weight: bold;
    width: 40%;
    cursor: pointer;
    margin-bottom: 2rem;
    transition: all 0.1s ease-in-out;
    border: none;
    -webkit-border-radius: 50px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    box-shadow: -1px 1px 10px 1px #fff;
    text-align: center;
}

.login-container form button:hover {
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15);
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
}

.circle {
    width: 8rem;
    height: 8rem;
    /* background: var(--primary-color); */
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
}


.illustration {
    /* position: absolute;
    top: -14%;
    right: -2px; */
    width: 80%;
}

.circle-one {
    top: 0;
    left: 0;
    z-index: -1;
    transform: translate(-45%, -45%);
    -webkit-transform: translate(-45%, -45%);
    -moz-transform: translate(-45%, -45%);
    -ms-transform: translate(-45%, -45%);
    -o-transform: translate(-45%, -45%);
}

.circle-two {
    bottom: 0;
    right: 0;
    z-index: -1;
    transform: translate(45%, 45%);
    -webkit-transform: translate(45%, 45%);
    -moz-transform: translate(45%, 45%);
    -ms-transform: translate(45%, 45%);
    -o-transform: translate(45%, 45%);
}

.register-forget {
    margin: 1rem 0;
    /* display: flex; */
    /* justify-content: space-between; */
    text-align: center;
}
.opacity {
    text-align: center;
    /* opacity: 0.6; */
    color: #000;
}

/* .theme-btn-container {
    position: absolute;
    left: 0;
    bottom: 2rem;
} */

.theme-btn {
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.theme-btn:hover {
    width: 40px !important;
}
@media only screen and (max-width: 600px) {
    .container {
        height: 85vh;
    }
    .login-container {
        width: 18.2rem;
    }
}
@keyframes wobble {
    0% {
        transform: scale(1.025);
        -webkit-transform: scale(1.025);
        -moz-transform: scale(1.025);
        -ms-transform: scale(1.025);
        -o-transform: scale(1.025);
    }
    25% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }
    75% {
        transform: scale(1.025);
        -webkit-transform: scale(1.025);
        -moz-transform: scale(1.025);
        -ms-transform: scale(1.025);
        -o-transform: scale(1.025);
    }
    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }
}
